@font-face {
    font-family: 'Tufuli Arabic DEMO';
    src: url('TufuliArabicDEMO-Medium.woff2') format('woff2'),
        url('TufuliArabicDEMO-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

